.todo-container {
  width: 25%;
  padding-bottom: 20px;
  background-color: rgb(255, 255, 255);
  margin: 100px auto;
  -webkit-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.75);
}

.title {
  text-align: center;
  color: #ffffff;
  padding: 30px;
  background-color: #05454a;
}

h2 {
  font-size: 1.4rem;
  margin: 20px auto;
  margin-bottom: 50px;
  text-align: center;
  color: #05454a;
}

@media screen and (max-width: 1200px) {
  .todo-container {
    width: 60%;
  }
}

@media screen and (max-width: 889px) {
  .todo-container {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .todo-container {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .todo-container {
    width: 90%;
  }
}

@media screen and (max-width: 595px) {
  .todo-container {
    width: 100%;
    margin: 10px 0;
  }
}
