@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", sans-serif;
  width: 80%;
  margin: 0 auto;
  background-image: url("./images/shattered-island.gif");
}

@media screen and (max-width: 1200px) {
  body {
    width: 100%;
  }
}
